:root {
  --primary: darkslategray;
  --primary-hover: rgb(101, 135, 135);
  --primary-red: rgb(196, 45, 45);
  --primary-red-hover: rgb(204, 115, 115);
  --primary-white: #ffffff;
}

.dashboard-container {
  max-width: 100%;
  height: 100vh;

  background-color: aqua;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dashboard-container main {
  display: flex;
  justify-content: space-around;
  padding: 2vh;
  background-color: beige;
  width: 100%;
  height: 100%;
}

.dashboard-container header {
  display: flex;
  justify-content: space-between;
  padding: 4vh 10vw;
  background-color: beige;
  width: 100%;
}

.browse-events {
  background-color: cadetblue;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.event-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 14px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
}

.login-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.login-screen .input-section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 40%;
  max-width: 500px;
}

input {
  padding: 10px 5px;
  border-radius: 2px;
  border-width: 2px;
}

input:focus {
  border-color: var(--primary);
}

.input-section button {
  background-color: var(--primary); 
  color: var(--primary-white);
  height: 40px;
  border-style: none;
  border-radius: 5px;
}

button {
  background-color: var(--primary); 
  color: var(--primary-white);
  border-style: none;
  border-radius: 5px;
  padding: 5px 15px;
}

.delete-button {
  background-color: var(--primary-red);
}

.delete-button:hover {
  background-color: var(--primary-red-hover);
}

button:hover {
  background-color: var(--primary-hover);
}